@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Dosis&display=swap');

$pink: #fc5185;
$white: #f0f0f0;
$blue-dark: #364f6b;
$blue-light: #43dde6;

input:focus {
 outline: 0;
}

html {
 height: 100%;
 background: #6190E8;
 /* fallback for old browsers */
 background: -webkit-linear-gradient(45deg, #364f6b, #43dde6);
 /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(45deg, #364f6b, #43dde6);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background-size: cover;
 overflow: hidden;
}
body {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0;
 height: 100%;
 color: $white;
 text-align: center;
 font-family: 'Cutive Mono', monospace;
 font-size: 28px;
 -webkit-user-select: none;
 div {
  box-sizing: border-box;
 }
 .drag {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  -webkit-app-region: drag
 }
 #close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  &:hover {
   cursor: pointer;
  }
  .close {
   font-size: 1em;
   color: $blue-dark;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 1em;
   height: 1em;
  }
 }
 .wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-shadow: $blue-dark -.06em .08em .2em;
 }
 h1, h2 {
  line-height: 1;
 }

 h1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 6em;
  color: $pink;
  font-family: 'Dosis', sans-serif;
  margin-top: auto;

  margin-bottom: 0;
  .degree {
   position: absolute;
   top: 0;
   right: -.25em;
   font-size: .5em;
  }
 }
 .description {
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: auto;
 }
 .location {
  position: relative;
  font-size: .8em;
  margin-top: auto;
  margin-bottom: 0;
  h2 {
   margin: 0;
   font-size: 1em;
   transition: transform 500ms ease-in-out;
   &.hidden {
    transform: rotateX(90deg);
    transition: transform 500ms ease-in-out;
   }
  }
  form {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate3d(-50%, -50%, 0) rotateX(-90deg);
   max-width: 100%;
   opacity: 0;
   pointer-events: none;
   transition: transform 1000ms ease-in-out;
   &.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate3d(-50%, -50%, 0) rotateX(0deg);
    transition: transform 500ms ease-in-out;
    input[type="submit"] {
     transform: translateY(-50%) scale(1);
     transition: transform 300ms ease-in;
    }
   }
   input[type="text"] {
    max-width: 100%;
    font-size: 1em;
    border-radius: 1.5em 1.5em;
    line-height: 1.2;
    border: 0;
    text-align: center;
   }
   input[type="submit"] {
    position: absolute;
    top: 50%;
    right: -1.7em;
    transform: translateY(-50%) scale(.5);
    font-size: 1em;
    border-radius: 1.5em 1.5em;
    border: 0;
    background-color: $pink;
    color: $blue-dark;
    transition: transform 300ms ease-in;
   }
  }
 }

 .tab {
  position: absolute;
  bottom: 2%;
  right: 0;
  width: .8em;
  height: .8em;
  background: $white;
  border-radius: 50% 0 0 50%;
  box-shadow: $blue-dark 0 .04em .2em -.05em;
  z-index: 10;
  &:after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate3d(-50%, -50%, 0);
   width: 30%;
   height: 30%;
   background-color: $pink;
   border-radius: 50%;
   transition: width 150ms, height 150ms;
  }
  &:hover {
   &:after {
    width: 50%;
    height: 50%;
   }
  }
 }

 .settings {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: $white;
  color: $blue-dark;
  border-left: .2em solid $pink;
  transition: transform 300ms;
  &.open {
   transform: translateX(0);
  }
  .inner {
   display: flex;
   flex-direction: column;
   max-width: 300px;
   height: 100%;
   max-height: 280px;
  }
  .credit {
  }
  p {
   font-size: .5em;
  }
  a {
   position: relative;
   display: inline-block;
   color: $blue-dark;
   text-decoration: none;
   padding-bottom: .02em;
   &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .1em;
    background-color: $pink;
   }
  }
  h2 {
   text-align: left;
   margin-top: 0;
   margin-bottom: auto;
  }
  .label {
   font-size: 1em;
   width: 40%;
   text-align: left;
   margin-top: 0;
   margin-bottom: auto;
   line-height: 1;
  }
  .builtwith {
   display: flex;
   justify-content: space-around;
   margin-top: 0;
   margin-bottom: auto;
   .img-wrapper {
    display: flex;
    align-self: flex-end;
    justify-content: flex-start;
    width: 60%;
    img {
     margin-right: 5%;
     max-width: 30%;
    }
   }
  }
  .builtin {
   display: flex;
   margin-top: 0;
   margin-bottom: auto;
   img {
    align-self: flex-end;
    object-fit: contain;
    width: 40%;
    max-width: 100px;
    margin-left: 0;
    margin-right: auto;
   }
  }
  .builtby {
   display: flex;
   a {
    align-self: flex-end;
    font-size: .5em;
   }
  }
 }

}